<h1><%= @meetup.name %></h1>
<ul class="meetup">
  <li class="description"> <%= @meetup.description %></li>
  <li class="location"> <%= @meetup.location %></li>
  <li class="user"> <%= @meetup.user.username%></li>
</ul>
